In [1]:
!git clone https://github.com/So-AI-love/Peper-Analysis
%cd Peper-Analysis

Cloning into 'Peper-Analysis'...
remote: Enumerating objects: 743, done.
remote: Total 743 (delta 0), reused 0 (delta 0), pack-reused 743
Receiving objects: 100% (743/743), 70.81 MiB | 22.58 MiB/s, done.
Resolving deltas: 100% (406/406), done.
/content/Peper-Analysis

In [3]:
! pip install nlp

Collecting nlp
  Downloading nlp-0.4.0-py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 7.7 MB/s
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from nlp) (4.62.3)
Requirement already satisfied: pyarrow>=0.16.0 in /usr/local/lib/python3.7/dist-packages (from nlp) (3.0.0)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from nlp) (0.3.4)
Collecting xxhash
  Downloading xxhash-2.0.2-cp37-cp37m-manylinux2010_x86_64.whl (243 kB)
     |████████████████████████████████| 243 kB 69.2 MB/s
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from nlp) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from nlp) (1.19.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from nlp) (3.3.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from nlp) (1.1.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->nlp) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->nlp) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->nlp) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->nlp) (2021.5.30)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nlp) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->nlp) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->nlp) (1.15.0)
Installing collected packages: xxhash, nlp
Successfully installed nlp-0.4.0 xxhash-2.0.2

In [ ]:
!export PYTHONPATH=$PYTHONPATH:/content/Peper-Analysis/data-analysis/nlp

In [15]:
import json
import numpy as np
import pandas as pd
import sys
sys.path.insert(0,'/content/Peper-Analysis/data-analysis/nlp/topic_modelling.py')

import os
path = '/content/Peper-Analysis/data-analysis/nlp/sentiment.py'
os.environ['PATH'] += ':'+path


from sentiment import get_sentiment
from sklearn.feature_extraction.text import TfidfVectorizer
from topic_modelling import TopicModelling

from preprocessing import clean

from nltk.corpus import stopwords
stop_words_en = stopwords.words("english")

import seaborn as sns
%matplotlib inline

# Load the Dataset

In [20]:
%cd /content/Peper-Analysis
sofia_airbnb = pd.read_csv("./data/sofia_airbnb_reviews.csv")

/content/Peper-Analysis

In [21]:
sofia_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   lat             306 non-null    float64
 1   long            306 non-null    float64
 2   reviews         306 non-null    object
 3   sentiments      306 non-null    object
 4   mean_sentiment  306 non-null    float64
dtypes: float64(3), object(2)
memory usage: 12.1+ KB

***

# Quick stats

In [22]:
sofia_airbnb.head()

         lat  ...  mean_sentiment
0  42.697323  ...        0.454853
1  42.690397  ...        0.411689
2  42.692549  ...        0.161913
3  42.690125  ...        0.336324
4  42.692787  ...        0.341235

[5 rows x 5 columns]

In [23]:
sofia_airbnb.describe()

              lat        long  mean_sentiment
count  306.000000  306.000000      306.000000
mean    42.692683   23.323903        0.372832
std      0.010008    0.015763        0.054759
min     42.647482   23.253589        0.138154
25%     42.689313   23.317093        0.341861
50%     42.693428   23.322385        0.373597
75%     42.699408   23.330179        0.403898
max     42.711740   23.380464        0.601389

***

# Exploring the reviews

## Remove NaN and redundant reviews

In [24]:
sofia_airbnb.dropna(inplace=True)
sofia_airbnb.reset_index(inplace=True)
sofia_airbnb.drop("index", axis=1, inplace=True)

In [25]:
for i in range(sofia_airbnb.shape[0]):
    try:
        json.loads(sofia_airbnb["reviews"][i])
    except json.JSONDecodeError:
        sofia_airbnb.drop(i, axis=0, inplace=True)

## Sentiment Analysis

### Quaintitative

In [ ]:
sentiments = []
mean_sentiment = []

for index, loc in sofia_airbnb.iterrows():
    scores = []
    for review in json.loads(loc["reviews"]):
        scores.append(get_sentiment(review))     
        
    sentiments.append(scores)
    mean_sentiment.append(np.mean(scores))
    
sofia_airbnb["sentiments"] = sentiments
sofia_airbnb["mean_sentiment"] = mean_sentiment

In [ ]:
sns.distplot(sofia_airbnb["mean_sentiment"], kde=False);

### Save the `mean_sentiment`s to `JSON`

In [ ]:
jsonArray = ''
for index, row in sofia_airbnb.iterrows():
    x = {
       "lat": row["lat"],
       "long": row["long"],
       "mean_sentiment": row["mean_sentiment"]
    }
    jsonArray += json.dumps(x)+','

## Topic Modelling

In [ ]:
topics = []

for index, loc in sofia_airbnb.iterrows():
    current_loc_topics = []
    for review in json.loads(loc["reviews"]):
        try:
            current_loc_topics.append(' '.join(TopicModelling(review).get_topics()[0]))
        except ValueError:
            pass
        
    topics.append(current_loc_topics)
        
sofia_airbnb["topics"] = topics

## Term-Frequency x Inverse-Doc-Freq

In [ ]:
for index, loc in sofia_airbnb.iterrows():
    tf_idf = TfidfVectorizer(use_idf=True, stop_words=stop_words_en)
    X = tf_idf.fit_transform(json.loads(loc["reviews"]))
    
    tfs = np.mean(X.todense(), axis=0) * .1
    scores = np.multiply(tfs, tf_idf.idf_.reshape(tfs.shape))
    
    terms = np.array(tf_idf.get_feature_names()).reshape(tfs.shape)
    zipped = np.hstack((terms.T, scores.T)).tolist()
    print(np.array(sorted(zipped, key=lambda x: x[1], reverse=True)))
    
    print('='*100)
    print('='*100)